.body {
    padding: 30px;
}

.form-group {
    padding-right: 25px;
}

label {
    padding-right: 10px;
}

span {
    padding-left: 10px;
}

span:hover {
    cursor: pointer;
}

.form-inline {
    margin: 20px 0px;
}

form {
    width: 65%;
}

p {
    color: red;
}
